html {
    font-size: 10px;
}

body {
    font-family: "din-regular", sans-serif;
    font-size: 1.7rem;
    line-height: 1.6;
    color: $dark-color;
    overflow-x: hidden;
}

h1 {
    font-size: 5.2rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 6rem;
    letter-spacing: 2px;
}