html {
    font-size: 10px;
    @include media-query(1150px) {
        font-size: 9px;
       
    }
    @include media-query(1050px) {
        font-size: 8px;
       
    }

    @include media-query(850px) {
        font-size: 7px;
       
    }
}

body {
    font-family: "din-medium", sans-serif;
    font-size: 1.7rem;
    line-height: 1.6;
    color: $dark-color;
    overflow-x: hidden;
}

h1 {
    font-size: 5.2rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 6rem;
    letter-spacing: 2px;
}