.container {
    max-width: 125rem;
    margin: 0 auto;
    @include media-query(1150px) {
        padding: 0 1.5rem;
       
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 6rem;
    font-size: 1.4rem;
    border: 1px solid;
    border-radius: .5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    @include media-query(920px) {
        width: 27rem;
    }
}

.header-outline {
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2rem $primary-color;
    letter-spacing: .8rem;
    font-family: 'din-bold';
    font-size: 6.2rem;
    @include media-query(920px) {
        font-size: 5.5rem;
    }
}

.section-header {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-family:'din-bold';
    letter-spacing: 3px;
  
}

.regulary--price {
    font-size: 1.8rem;
    margin-bottom: 0;
}
.alert--message {
    margin-top: 5rem;
    font-family: 'din-condensed';
    font-weight: bold;
    font-size: 2.4rem;

}

.limited--time {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 2rem;
    opacity: .8;
}

.text-light {
    color: $light-color;
}
.text-primary {
    color: $primary-color;
}

.text-bold {
    font-family: 'din-bold';
}

.text-outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2rem $secondary-color;
}

.bg-primary {
    background-color: $primary-color;
}

.pattern {
    position: absolute;
    z-index: 1;
}