.cta-a,
.cta-b {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    min-height: 42rem;
    color: $light-color;
    h2 {
        margin-bottom: 4.5rem;
    }
    a {
        margin: 0 auto;
        border-color: $primary-color;
    }
}

.cta-b {
    margin-bottom: 0;
    background-color: $primary-color;
    h2 {
        margin-bottom: 0;
    }
}

footer {
    text-align: center;
    padding: .5rem 0;
    p {
        margin-bottom: 0;
    }
}