.cta-a {
    text-align: center;
    background-color: $secondary-color;
    padding: 8.5rem 0;
    color: $light-color;
    h2 {
        margin-bottom: 4.5rem;
    }
    a {
        margin: 0 auto;
        border-color: $primary-color;
    }
}