.customize {
    background-color:#F7F7F7;
    padding: 5rem 0;
    h1 {
        margin: 0;
    }
    .wrapper__row {
        display:flex;
        justify-content: space-between;
        .customize__content {
            flex: 0 0 50%;
            padding-right: 23rem;
            h2 {
                margin-top: 3.2rem;
                margin-bottom: 6rem;
            }
        }
        .customize__slider {
            flex: 0 0 50%;
            margin-bottom: 10rem;
        }
    }

    .customize__slider {
        // overflow: hidden;
        position: relative;
        top: 3.4rem;
        left:-3.4rem;
        z-index: 2;
        .pattern--customize-a {
            top: 2.6rem;
            left: -8.5rem;
        }
        .pattern--customize-b {
            bottom: 2.6rem;
            right: -11rem;
        }
        &::before {
            content: '';
            position: absolute;
            right:-5.4rem;
            top: 3rem;
            width: 59rem;
            height: 49rem;
            background-color: $secondary-color;
            z-index: -1;
            margin-left: -3.4rem;
            @include media-query(750px) {
                width: 55rem;
                height: 55rem;
               }
        }
        .tns-outer {
            border: 5.4rem solid $primary-color;
            img {
                width: 100%;
                object-fit: cover;
                height: 51rem;
                display: block;
            }
        .tns-nav {
            left: 50%;
            transform: translateX(-50%);
            bottom: -3.5rem;
            position: absolute;
            z-index: 2;
                button {
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: #F5C3D2;
                    border: none;
                    border-radius: 50%;
                    margin: 0 .6rem;
                    outline: none;
                }
                &-active {
                    background-color: $primary-color!important;
                }
            }
        }
            
    }
}