
.header {
    padding-top: 3rem;  
    @include media-query(414px) {
        padding:3rem 1.5rem 0 1.5rem;
       }  
    &__wrapper {
        display: flex;
        justify-content: space-between;
        a {
            border-color: $primary-color;
            color: $primary-color;
            align-self: flex-end;
            @include media-query(850px) {

                align-self: center
               }
        }
        img {
            @include media-query(1050px) {
                width: 120px;
               }
               @include media-query(850px) {
                width: 102px;
               }
        }
    }
}   
 
.banner {
    margin-top: 20rem;
    @include media-query(769px) {
        margin-top: 1rem;
       }
    &__wrapper {
        display: flex;
        height: 60rem;
    }

    h1 {
        text-align: right;
        @include media-query(769px) {
            text-align: center;
           }
    }
    &__red {
        background-color: $primary-color;
        position: relative;
        flex-basis: 92rem;
        &::after {
            content:'';
            position: absolute;
            right: 100%;
            top: 0;
            width: 80rem;
            height: 60rem;
            background-color: $primary-color;
            display: block;
            z-index: 2;
        }

        img.banner__img {
            position: absolute;
            bottom: 0;
            left: -20rem;
            z-index: 4;
            @include media-query(1300px) {
                left: -17rem;
            }

            @include media-query(1050px) {
             width: 511px;
            }

            @include media-query(850px) {
                width: 440px;
            }

            @include media-query(430px) {
                width: 360px;
            }
        }

        h2 {
            position: absolute;
            right: 8rem;
            top: calc(50% + .5rem);
            transform: translateY(-50%);
            
        }

        .pattern--banner {
            top: -.6rem;
            left: -15rem;
            z-index: 3;
        }
    }

    &__blue {
        background-color: $secondary-color;
        position: relative;
        flex-basis: 38rem;
        &::after {
            content:'';
            position: absolute;
            left: 100%;
            top: 0;
            width: 80rem;
            height: 60rem;
            background-color:$secondary-color;
            display: block;
            z-index: 2;
        }

        .banner__blue__box {
            position: absolute;
            right: -3rem;
            top: 4rem;
            max-width: 300rem;
            text-align: center;
            padding: 1rem;
            input {
                width: 30rem;
                max-width: 30rem;
                height: 4rem;
                border: 2px solid $light-color; 
                padding:  1.6rem 2.2rem;
                margin-bottom: 1rem;
                border-radius: .5rem;
                @include media-query(920px) {
                    width: 27rem;
                }
                &:focus {
                    border: 2px solid $primary-color; 
                }
                &::placeholder {
                    color:#BEBEBE;
                    font-family: 'din-regular';
                }
            }
            button {
                border: 2px solid $primary-color;
                display: block;
                text-transform: uppercase;
                box-shadow: 0px 2px 5px rgba(0,0,0,0.3); 
                margin: 1rem auto 0;
              
            }
            img {
                margin-bottom: .5rem;
                @include media-query(1100px) {
                    width: 80%;  
                }
            }
        }
    }
}