@media screen and (max-width:769px) {
   .banner {
    .container {
        padding: 0;
    }

    &__red {
        flex-basis: 76rem;
    }
   
    .banner__wrapper {
        flex-direction: row;
        flex-wrap: wrap;  
        height: 1300px;
        .banner__red {
            order: 2;
            flex-basis: 100%;
            &::after {
                display: none;
            }
            img {
                left: 50%;
                transform: translateX(-50%);
                bottom: 40%
            }
            h2 {
               text-align: center;
               right: 50%;
               transform: translateX(50%);
                top: 70%;
                width: 100%;
            }
            &__wrapper .pattern--banner {
                left: -2rem;
             
            }
        }

        .banner__blue {       
            order: 1;
            flex-basis: 100%;
            margin-bottom: 50rem;
            &::after {
                display: none;
            }
            &__box {
            width: 65rem;
            right: 50%;
            transform: translateX(50%);
            input,
            button {
                width: 75%;
                max-width: 100%;
            }
            img {
                width: auto;
            }
          }
        }
    }
}
.elevate {
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
        .elevate__map {
            left: 0;
            flex: 0 0 97%;
            iframe{
                width: 100%;
            }
            &::before {
                width: 63rem;
                right: -2rem;
            }

            p {
                right: -2rem;
            }
            .pattern--elevate-a,
            .pattern--elevate-b  {
          
                width: 42.3rem;
            }

            .pattern--elevate-a {
             
               left: -4rem;
            }

            .pattern--elevate-b  {
            
               right: -6rem;
            }

           
          
        }
    }
}

.customize {
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
        .customize__content {
            flex: 0 0 100%;
            padding-right: 0;
        }
    
        .customize__slider {
            flex: 0 0 100%;
            left: -2.4rem;
            &::before {
              right: -2.4rem;  
            }
        }
       
    }
}

.lady {
    height: 180rem;
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    &__img {
        margin: 0 auto 12rem auto;
        width: 54rem;
        &::before {
            left: -1rem;
            width: 49rem;
        }
       
    }
    &__content {
        margin: 0 auto 12rem auto;
        right: 0;
        width: 54rem;
        &::before {
            width: 49rem;
            right:-2rem;
        }
       
    }

    .pattern--lady-b {
        height: 2.8rem;
        width: auto;
    }
    }

}


@media screen and (max-width:455px) {

   

    .banner {
        .banner__wrapper{
            .banner__blue__box {
                width: 53rem;
            }
            .banner__blue {       
                margin-bottom: 50rem;
           }

           .banner__red {       
            margin-top: -15rem;
            img.banner__img {
                width: 380px;
                bottom: 44%;

            }
           }
            
        }
       
    }
        
      

    .elevate {
        overflow: hidden;
        .wrapper__row {
            flex-wrap: wrap;
            flex-direction: row;
            .elevate__map {
                left: 0;
                width: 95%;
                iframe{
                    width: 100%;
                }
                &:before {
                    width: 44rem;
                    }
                }
               
            }
        }

    .lady {
        &__content {
            width: 46.5rem;
            &::before {
                width: 43rem;
            }
           
        }
        &__img {
            width: 46.5rem;
            &::before {
                left: -1rem;
                width: 43rem;
            }
           
        }
      
    
    }
    
    
   .lady,
   .customize {
     overflow: hidden;   
   }

  
   

  
    
}