@media screen and (max-width:769px) {
   .banner {
       margin-top: 10rem;
    .container {
        padding: 0;
    }

    &__red {
        flex-basis: 76rem;
    }
   
    .banner__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        height: 1250px;
        .banner__red {
            order: 2;
            flex-basis: 100%;
            &::after {
                display: none;
            }
            img {
                width: 100%;
                left: 0;
                bottom: 40%
            }
            h2 {
               text-align: center;
               right: 50%;
               transform: translateX(50%);
                top: 70%;
                width: 100%;
            }
            .pattern--banner {
                height: 2.8rem;
                width: auto;
            }
        }

        .banner__blue {       
            order: 1;
            flex-basis: 100%;
            margin-bottom: 50rem;
            &::after {
                display: none;
            }
            &__box {
            max-width: 100%;
            right: 0;
            input,
            button {
                width: 75%;
                max-width: 100%;
            }
            img {
                width: auto;
            }
          }
        }
    }
}
.elevate {
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
        .elevate__map {
            left: 0;
            width: 95%;
            iframe{
                width: 100%;
            }
            &::before {
                width: 60rem;
             }

            .pattern--elevate-a,
            .pattern--elevate-b  {
                height: 2.8rem;
                width: auto;
            }
          
        }
    }
}

.customize {
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
        .customize__content {
            flex: 0 0 100%;
            padding-right: 0;
        }
    
        .customize__slider {
            flex: 0 0 100%;
            left: -2.4rem;
            &::before {
              right: -2.4rem;  
            }
        }
        .pattern--customize-a,
        .pattern--customize-b  {
            height: 2.8rem;
            width: auto;
        }
    }
}

.lady {
    height: 180rem;
    .wrapper__row {
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    &__img {
        margin: 0 auto 12rem auto;
    }
    &__content {
        margin: 0 auto 12rem auto;
        right: 0;
       
    }

    .pattern--lady-b {
        height: 2.8rem;
        width: auto;
    }
}




}


